/* #id{
    margin-left: 600px;
}
.container{
background-color: orchid;
border: 2px solid black;
width: 100%;
} */
a{
    color: white;
}
nav{
    background-color:darkolivegreen;
}
.nav1{
    padding-right: 50px;
}
