.contact{
    background-color: rgb(235, 214, 243);
    color: rgb(8, 43, 74);
    height:450px;
    width: 100vw;
    /* padding-left: 100px; */
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    /* padding-left:50px ; */
    font-style: normal;
    font-size: 22px;
    border: 2px solid white;
    text-align: center;
}
.con{
    justify-content: center;
    display: flex;
    text-align: center;
}