<div class="con">
<div class="contact" style="justify-content: center;" >

    <h4><b> CONTACT DETAILS</b></h4>
    <h3>HOW CAN WE HELP YOU?</h3>
    <img src="assets/images/location.png" height="30px" width="30px"><br>
    <p>Survey No. 126P, PSR Prime Tower, beside DLF CYBER CITY,</p>
    <p>Gachibowli, Hyderabad, Telangana 500032.</p>
    <br>
    <p><b>You can also place order just by dailing to the number</b> </p>
     <img  src="assets/images/telephone.png" height="30px" width="30px" >&nbsp; 6304786799
    </div>