<div class="container">
    <div class="pic">
      <img src="assets/images/about1.jpg" alt="" height="300px" width="300px">
    </div>
    <div class="about">
      <h2>ABOUT US</h2>
      <h2>Who we are</h2>
        <h4>We are Bloom N Treats: India's Biggest Gifting Solutions Provider</h4>
      <p>For over 25 years, we are helping customers to celebrate their special moments by delivering fresh flowers and fabulous gifts. Bloom N Treats was established in 1994 and flower bouquet delivery was the first and only thing that the company was into. From just 1 flower shop in Delhi during 1994, Ferns N Petals is now the largest florist chain with more than 320 stores (and still counting) across all the major cities and towns of India.</p><br>
      <br>
      <p>Today, Bloom N Treats Group encompasses of Bloom N Treats Retail & Franchising, Bloom N Treats E-commerce- India, UAE, Singapore & Qatar, Bloom N Treats Weddings & Events, Floral Touch- India & UAE, Bloom N Treats Gardens, Handicrafts, The Flagship Store by Bloom N Treats, WDH (Wedding Design Hub), Bloom N Treats Cakes 'N' More and Bloom N Treats Media. The brand is one stop shop for all gifting needs, be it buying flowers, cakes, plants, personalized gifts, decoration services, or experiences, not only in India but across the globe.</p>
      <div class="pic2">
        <img src="assets/images/about2.jpg" alt="" height="190px" width="600px" style="margin-bottom: 40px;">
      </div>
    </div>
  </div>
